@font-face {
    font-family: "adieue";
    src: url("../tipografias/adineuePRO-Regular.ttf");
}

#slides {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#slides .slides-container {
    display: none;
    height: 100vh;
}

#slides .slides-container .container {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 3%;
    margin-left: 5%;
}

#slides .slides-container .container img {
    width: 60%;
    margin-bottom: 1%;
}

#slides .slides-container .container p {
    font-size: 30px;
    width: 40%;
    font-weight: bold;
    font-family: 'adieue';
    color: #fff;
}

#slides .slides-container .container button {
    width: 170px;
    height: 40px;
    border: none;
    background-color: rgb(147, 213, 9);
    color: #fff;
    font-size: 23px;
}

#slides .scrollable {
    *zoom: 1;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

#slides .scrollable:after {
    content: "";
    display: table;
    clear: both;
}

.slides-navigation {
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    top: 46%;
    width: 100%;
}

.slides-navigation a {
    position: absolute;
    display: block;
}

.slides-navigation a.prev {
    left: 2%;
    text-decoration: none;
}

.slides-navigation a.next {
    right: 2%;
    text-decoration: none;
}

.slides-navigation a.prev i {
    color: #fff;
    font-size: 80px;
}

.slides-navigation a.next i {
    color: #fff;
    font-size: 80px;
}

.slides-pagination {
    position: absolute;
    z-index: 3;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.slides-pagination a {
    border: 2px solid #222;
    border-radius: 15px;
    width: 10px;
    height: 10px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
    margin: 2px;
    overflow: hidden;
    text-indent: -100%;
}

.slides-pagination a.current {
    background: #222;
}

@media (max-width: 775px) {
    #slides .slides-container .container {
        justify-content: flex-end;
        align-items: center;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 10%;
    }
    #slides .slides-container .container p {
        width: 90%;
        text-align: center;
    }
}

@media (max-width: 500px) {
    #slides .slides-container .container {
        justify-content: center;
    }
    #slides .slides-container .container img {
        width: 90%;
    }
    #slides .slides-container .container p {
        font-size: 25px;
    }
}